<html>
<head>
<style>
.center {
  padding: 70px 0;
  text-align: center;
}
body {
  background-color: lightblue;
}
h2 {
  color: white;
  text-align: center;
  font-family: verdana;
}
a {
  color: hotpink;
  text-align: center;
}
</style>
</head>
<body>

<div class="center""> 
<h2>Click this link to view your bookmarks:</h2>
	<b><a href="http://localhost:9292/bookmarks" target="_blank">View Bookmarks</a></b>
<h2>Or on this link to add a bookmark:</h2>
	<b><a href="http://localhost:9292/add-bookmark" target="_blank">Add a bookmark</a></b>
</div>


</body>
</html>
